@font-face { 
    font-family: Norse-Bold; 
    font-weight: bold; 
    src: url('Norse-Bold.otf');
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.leftPanel {
    background-color: blue;
    width: 40%;
    display: flex;
}

.leftPanel > img {
    position: absolute;
    height:100%;
    width: 40%;
}

.rightPanel {
    background-color: #F7F7F9;
    flex-basis: 60%;
    --width: 100%;

    display: flex;
    flex-direction: column;
}

/* LEFT PANEL */

.logo {
    position: absolute;
    font-family: 'Norse-bold';

    margin-top: 10rem;
    height: 10rem;
    width: 40vw;

    background-color: rgba(0, 0, 0, 0.57);

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: min(120px, 100%);
    width: auto;
    position: relative;
}

.logo > p {
    color: #fcfcfc;
    font-size: 100px;
}

.leftPanel > p {
    position: fixed;
    align-self: flex-end;
    text-align: center;  
    color: #cfcfd4;
}

.leftPanel > p > a {
    text-decoration: none;
    color: #cfcfd4;
}

/* TOP PANEL */

.header {
    width: var(--width);
    height: 20rem;
}

.header > p {
    position: relative;
    line-height: 25px;
    top: 150px;
    left: 80px;
    font-size: 22px;
    font-weight: 700;
}

em {font-style: italic;}

/* MIDDLE PANEL */

.midPanel {
    background-color:#fcfcfc;
    height: 20rem;
    width: var(--width);

    display: flex;

    box-shadow: 0 4px .4rem #cecfd3;
}

fieldset {
    flex-basis: clamp(40rem, 70% , 30rem);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    
}

legend {
    font-size: 28px;
    font-weight: 700;
    padding-top: 15px;
}

.singleForm, legend {
    margin-left: 5rem;
}

.singleForm {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #444546;
}

input {
    height: 1.5rem;
    width: 14rem;
    margin-top: 2px;

    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border: 1px solid #005CB7;
    box-shadow: 2px 4px .4rem #cecfd3;

}

.error {
    outline: none;
    border: 1px solid #d51609;
}

.singleForm > p {
    color:#d51609;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
}

#pwd, #confirm_pwd {
    margin-bottom: 2rem;
}

/* BOTTOM PANEL */

.bottomPanel > button {
    margin-top: 3rem;
    margin-left: 5rem;

    width: 16rem;
    height: 4rem;
    box-shadow: 3px 5px .2rem #cfcfd4;

    border: 0px solid #596D48;
    border-radius: 8px;

    background-color: #596D48;
    color:#fcfcfc;
    font-size: 24px;
    font-weight: 700;
}

.bottomPanel > p {
    margin-top: 2rem;
    margin-left: 5rem;

}

.bottomPanel > p > a {
    font-size: 18px;
    font-weight: 700;
    color: #596D48;
}